<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>idev.mobi.safariext.twitter.noactivity</string>
       <key>Developer Identifier</key>
       <string>XA2RF356XT</string>
       <key>CFBundleVersion</key>
       <string>100</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://api.cld.me/3y2c1H2b3I143W0Z3v0v/download/NoActivity-1.0.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
